@charset "utf-8";

/*
    Purpose: serve as the general style layout for all pages within Caleb's site

    Author: Maxwell "Marri" Silver "Taylor"

    Date Last Edited: 1-4-24 (29th of March 2024)
*/

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../assests/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assests/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assests/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assests/fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assests/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../assests/fonts/Poppins/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: 'Poppins-Black';
    src: url('../assests/fonts/Poppins/Poppins-Black.ttf');
}
@font-face {
    font-family: Poppins-LightItalic;
    src: url('../assests/fonts/Poppins/Poppins-LightItalic.ttf')
}


body {
    margin: 0px;
}



/*========
Font Styles
========*/
html {
    font-size: 24px;
    color: #303030;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Poppins-Black';
}

h2 {
    font-size: 2rem;
    font-family: 'Poppins-ExtraBold';
}

h3 {
    font-size: 1.5rem;
    font-family: 'Poppins-Bold';
}

h4 {
    font-size: 1.25rem;
    font-family: 'Poppins-SemiBold';
    margin: 0px;
}

h5 {
    font-size: 1rem;
    font-family: 'Poppins-Medium';
    margin: 0px;
}

p {
    font-family: 'Poppins-Regular';
    font-size: 0.75rem;
}

p.roboto {
    font-family: 'Roboto-Medium';
}

section#depend-first {
    display: none;
}

/*=====
Nav Bar
=====*/


a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    width: fit-content;
}

nav p {
    margin: 0px;
    height: fit-content;
    padding: 5px;
}

nav section {
    align-items: center;
    text-align: center;
}

header {
    z-index: 1000;
    background-color: #1c3866;
    border-bottom: 5px double hsl(0deg, 0%, 69%);
}

ul.hidden {
    z-index: 1500;
}

header * {
    display: block;
    height: fit-content;
    color: hsl(136deg, 0%, 92%)
}

nav section section ul {
    padding: 0px;
}

nav, nav > section, nav ul {
    justify-content: left;
    margin: 0px;
}

nav, nav > section {
    display: flex;
    flex-flow: row nowrap;
}

nav section section  {
    padding: 15px;
    background-color: #1c3866;
    background-origin: border-box;
}


section > .container {
    position: relative;
    display: block;
    border-left: 5px dashed hsl(0deg, 0%, 69%);
}

nav section > section:last-of-type {
    border-right: 5px dashed hsl(0deg, 0%, 69%);
}


nav section section > ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

ul.hidden li {
    padding: 5px 15px;
}

ul.software li {
    padding-right: 0px;
}

ul.what li.hardware {
    padding: 10px 15px;
}

nav .name {
    margin: 0px;
    padding: 0px 15px;
    height: fit-content;
    background-color: #1c3866;
    background-origin: content-box;
    align-self: center;
    font-size: 1.25rem;
}

h5.name {
    padding: 0px;
}

a.name {
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}

.hidden {
    display: none;
}

.what > li > a *, div#software-title * {
    font-size: 0.8rem;
}

div#software-title {
    padding: 10px 15px;
}

section > ul > .hidden li:nth-of-type(2) {
    margin-top: 0px;
}

section > ul > .hidden li:last-of-type {
    margin-bottom: 5px;
}


.container:hover > ul,
.container:hover > ul,
.software:hover > ul,
.who:hover,
.what:hover,
.hidden:hover {
    display: block;
    left: 10%;
    right: 10%;
}

ul.hidden  a {
    margin: 0px auto;
}

ul.software li {
    padding-left: 0px;
}

section > ul.hidden {
    border: 3px double hsl(0deg, 0%, 69%);
    border-top: none;
    background-color: #1c3866;
    background-clip: border-box;
    border-radius: 0px 0px 5px 5px;
    
}

ul.what > li.software {
    width: 100%;
    padding: 0px;
}

ul.software li:hover, li.hardware:hover, div#software-title:hover {
    background-color: #2b3546;
}

nav section a:hover {
    background-color: #c2d3f0;
    background-origin: border-box;
    text-decoration-style: dashed;
    text-decoration-color: #303030;
}

nav a:hover * {
    color: #303030;
}

a.name {
    width: 186px;
    height: 46px;
}

a.name:hover {
    height:46px;
    width: 46px;
    padding-right: 85px;
    padding-left: 85px;
}

ul.who li:hover {
    background-color: #2b3546;
}

nav img {
    display: none;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    filter: invert(100%) sepia(0%) saturate(6800%) hue-rotate(98deg) brightness(122%) contrast(84%);
}

a.name:hover h5.name {
    display: none;
}

a.name:hover img#home_unfilled {
    display: block;
}

a.name:active img#home_unfilled {
    display: none;
}

a.name:active img#home_filled {
    display: block;
}

li.hardware {
    background-color: #1c3866;
}

/*=========
Footer
=========*/

@keyframes rainbow-animation {
    0% { color: #ff0000; } 
    16.67% { color: #ff7f00; } 
    33.33% { color: #ffff00; } 
    50% { color: #00ff00; } 
    66.67% { color: #0000ff; } 
    83.33% { color: #4b0082; } 
    100% { color: #9400d3; } 
  }

footer {
    background-color: #1c3866;
    display: flex;
    flex-flow: row wrap;
}

footer * {
    color: hsl(136deg, 0%, 92%);
}

footer a {
    text-decoration: underline solid;
}

a#icons8:hover {
    color: #c8d3ff;
    text-decoration-color: #c8d3ff;
}


div#author a:hover {
    animation: rainbow-animation 3s infinite;
}

footer > section {
    margin: auto;
    padding: 15px;
}

section#socials {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 30%;
    justify-content: center;
}

section#socials img {
    width: 85px;
}

section#credits * {
    font-family: 'Poppins-LightItalic';
}

section#credits {
    text-align: center;
    border-left: 3px double hsl(0deg, 0%, 69%);
}

div#icons * {
    font-size: 0.5rem;
}

div#author {
    border-bottom: 3px double hsl(0deg, 0%, 69%);
    width: fit-content;
    margin: 0px auto;
    padding-bottom: 5px;
}

div#author * {
    font-size: 0.65rem;
    margin: 0px;
}


@media screen and (max-width: 845px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 799px) {
    nav {
        flex-direction: column;
    }
    nav > section {
        flex-wrap: wrap;
        justify-content: center;
        border-top: 3px double hsl(0deg, 0%, 69%);
    }
    nav > section > section {
        margin: 0px auto;
        border-right: 5px dashed hsl(0deg, 0%, 69%);
    }
}

@media screen and (max-width: 601px) {
    footer section#credits {
        border-top: 3px double hsl(0deg, 0%, 69%);
        border-left: none;
    }
    footer > section {
        flex: 1 0 80%;
    }
    section#socials img {
        width: 60px;
    }
}


@media screen and (max-width: 529px) {
    nav > section > section.container {
        margin: 0px auto;
    }
    section#depend-first {
        display: block;
        margin: 0px 20%;
    }
    section#depend-last {
        display: none;
    }
    nav > section > section:nth-of-type(2), nav > section > section:nth-of-type(3) {
        border-top: 5px dashed hsl(0deg, 0%, 69%);
    }


}